<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Advice App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="advice-container">
      <h1><%= advice %></h1>
      <form method="GET" action="/">
        <button type="submit">Get Advice</button>
      </form>
    </div>
  </body>
</html>
